{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h3>Nova categoria: </h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control">
            <label for="slug">Slug: </label>
                <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control">
                <br>
            <button type="submit" class="btn btn-success">Criar categoria</button>
        </form>
    </div>
</div>