<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blog NodeJS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {{>_navbar}}
    <div class="container mt-4">
        {{>_msg}}
        {{{body}}}
    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
</html>